.content {
  background-color: var(--white);
  width: 32rem;
  height: 49.9rem;
  padding: var(--spacing-200);
  padding-bottom: var(--spacing-500);
  border-radius: 2rem;
  box-shadow: 0 2.5rem 2.5rem 0 rgba(0, 0, 0, 0.0477);
  box-sizing: border-box;
}
